.TagWords{
    max-width: 1000px;
    width: 90%;
    min-width: 370px;
    height: 700px;
    position: absolute;
    top:50%;
    left: 60%;
    transform: translate(-60%, -50%);
    background-color: #324B50;
    padding:20px;
    box-sizing: border-box;
}

/*content*/
.content{
    width: 100%;
    height: 100%;
    background-color: #1b4a62;
    color:#fff;
    box-sizing: border-box;
    border:1px solid #fff;
    padding-top:50px;
}
.gameTitle{
    width: 100%;
    height: 60px;
    border:2px solid #fff;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    position: relative;
}

.timer{
    position:absolute;
    top:15px;
    left:15px;
    font-size:20px;
    background-color: #256e93;
    color:#000;
    border-radius: 10px;
    width:120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 3px;
    text-align: center;
}

/*enterWord*/
.enterWord{
    width: 100%;
    height: calc(20%);
    border-top:1px solid #fff;
    box-sizing: border-box;
}
.info{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: end;
    font-size: 19px;
    box-sizing: border-box;
    padding-left: 10px;
}
.info ul li:not(:last-child){
    margin-bottom:5px;
}

.inputArea{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
}
.inputArea .inputWord{
    background-color: #324B50;
    border: 2px solid #fff;
    font-size: 22px;
    color: #fff;
    width: 100%;
    max-width: 200px;
    height: 60%;
    border-radius: 2px;
}
.inputWord:focus-visible{
    outline: none;
}